#body {
    height: 100vh;
    display: block;
    /* padding-top: var(--header-height); */
    padding-bottom: 160px;
    position: relative;
}

#body .body-container {
    height: 100%;
    padding: 32px 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cff4d2;
}

#body .body-container__item {
    width: calc((100% - 48px - 48px) / 3);
    height: calc((100% - 32px -32px) / 2);
    padding-bottom: 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#body .body-container__img {
    /* background-image: url('../img/Microhyla\ heymonsii-LQNgon-003\ -\ Ngôn\ Lâm\ Quang.jpg'); */
    height: 192px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#body .body-container__name {
    padding: 26px;
    height: 24px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#footer {
    background-color: #488568;
}
